
body{
	background-color: #E5E2FF;

}

.topofthepop{
	height:100px;
	background-color:#1B3DCC;
	border-radius: 4px;
	border: 1px solid #0A174C;
	text-align: center;
}

#gitkit{
	height:30px;
	width:50px;
	display: inline-block;
}

#contact{
	text-align: center;
	display: inline-block;
	font-size: 15px;
	color:white;
}
#blogcat{
	height:30px;
	width:50px;
	display: inline-block;
}

.space{
	height:50px;
}

.projects{
	width:400px;
	float:left;
	margin-left: 40px;
}

td{
	float left;
}

tr{
	display:inline;
	font-size:12px;
}

ul{
	list-style-type: none;
	float:left;

}

li{
	float:right;
}

.projectimage{
	height:auto;
	width: 200px;
	font-size:12px;
	float:left;
	border: 1px solid #0A174C;
}

.me img{
	height:350px;
	width:auto;
	display:inline;
	float:right;
	margin-right: 40px;
	border: 1px solid #0A174C;
}

.buttons{

}

.AboutMe{
	border-left:1px #0A174C;
	text-decoration: none;
	vertical-align: text-bottom;
}

















