body{
	background-color: A0A3FF;

}

.topofthepop{
	height:100px;
	background-color:50517F;
}

#gitkit{
	height:30px;
	width:50px;
	display: inline-block;
}

#contact{
	text-align: center;
	display: inline-block;
	font-size: 15px;
}
#blogcat{
	height:30px;
	width:50px;
	display: inline-block;
}

.projects{
	height:400px;
}
.projectimage{
	height:200px;
	width: 200px;
}
