
body{
	background-color: #E5E2FF;

}

.header{
	height:100px;
	background-color:#1B3DCC;
	border-radius: 4px;
	border: 1px solid #0A174C;
	text-align: center;
	border-bottom: black;
}

#gitkit{
	height:30px;
	width:50px;
	display: inline-block;
	float: left;
	margin-top:25px;
}

#contact{
	text-align: center;
	display: inline-block;
	font-size: 15px;
	color:white;
}
#blogpen{
	height:30px;
	width:50px;
	display: inline-block;
	float: right;
	margin-top: 25px;
}

.space{
	height:20px;
}

.projects{
	width:600px;
	float:left;
}

ul{
	list-style-type: none;
	float:left;
}

li{
	float:left;
}

.projectimage{
	height:auto;
	width: 200px;
	font-size:12px;
	border: 1px solid #0A174C;
	display: inline;
}

.me img{
	height:350px;
	width:auto;
	display:inline;
	float:right;
	margin-right: 50px;
	border: 1px solid #0A174C;
}

.buttons{
	float:right;
	clear:both;

}

.AboutMe{
	float: right;
	border-left: 1px #0A174C;
	text-decoration: none;
	clear:both;
	width: 400px;
	margin-right: 50px;
	margin-bottom: 100px;
}

















